.body {
    max-height: 700px;
    
}
button {
    cursor: pointer;
}
#green{
    background-color:rgb(39, 168, 37);
    
}
#gShade{
    background-color:#346e3c;
    height: 12px;
    width: 13px;
    border-radius: 50px;
    position:absolute;
    bottom:3px;
    left: 132px;
    
}
#gInner{
    background-color:rgb(39, 168, 37);
    height: 8px;
    width: 9px;
    border-radius: 50px;
    position:absolute;
    bottom:7px;
    left: 132px;
}
#gSheen{
    background-color:#bbdec0;
    height: 4px;
    width: 4px;
    border-radius: 50px;
    position:absolute;
    bottom:9px;
    left: 134px;
}
    
#red{
    background-color: rgb(215, 54, 55);
    }
#rShade{
    background-color:#9f001b;
    height: 12px;
    width: 13px;
    border-radius: 50px;
    position:absolute;
    bottom:3px;
    left: 54px;
    
}
#rInner{
    background-color:rgb(215, 54, 55);
    height: 8px;
    width: 9px;
    border-radius: 50px;
    position:absolute;
    bottom:7px;
    left: 54px;
}
#rSheen{
    background-color:#fc7087;
    height: 4px;
    width: 4px;
    border-radius: 50px;
    position:absolute;
    bottom:9px;
    left: 55px;
}
#yellow{
    background-color: #fee94c
}
#yShade{
        background-color:#9f8b0f;
        height: 12px;
        width: 13px;
        border-radius: 50px;
        position:absolute;
        bottom:3px;
        left: 93px;
        
}
#yInner{
background-color:#fee94c;
height: 8px;
width: 9px;
border-radius: 50px;
position:absolute;
bottom:7px;
left: 92px;
}
#ySheen{
background-color:white;
height: 4px;
width: 4px;
border-radius: 50px;
position:absolute;
bottom:9px;
left: 94px;
}

ul {
    list-style: none;
}
.dexContainer, #leftDexContainer {
    display:flex;
    /* flex-direction: center; */
    border: 3px solid black;
    position:absolute;
    width: 600px;
    height: 750px;
    background-color: rgba(220,10,45,255);
    border-radius: 10px 0px 10px 10px;
    z-index: -1;
}
.dexBorder{
    height: 640px;
    width: 580px;
    /* clip-path: polygon(43% 32%, 64% 0, 100% 0, 100% 100%, 0 100%, 0 33%); */
    border:2px solid black;
    position: absolute;
    top: 100px;
    left:10px;
}
#threeDScreenContainer{
    display:flex;
    width: 455px;
    height:380px;
    background-color: #7d7e7e;
    border:2px solid black;
    position: absolute;
    top: 154px;
    left:52px;
    border-radius: 5px 5px 5px 55px;
    align-items: center;
    justify-content: center;
}
.screenContainer{
    display:flex;
    width: 455px;
    height:380px;
    background-color: rgba(222,222,222,255);
    border:2px solid black;
    position: relative;
    top: 150px;
    right: 31.25px;
    border-radius: 5px 5px 5px 55px;
    align-items: center;
    justify-content: center;
}

.screen {
    background-color: #232323;
    height: 262px;
    width: 375px;
    border-radius: 5px;
    border: 2px solid black;
    
}
.screenLights{
    display: flex;
    list-style-type: none;
    position: absolute;
    top:0;
    left: 150px;
}
.screenLight {
    margin: 0 10px;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    border:2px solid black;
    background-color: rgb(238, 35, 35);
}
.cornerLight {
    margin: 0 10px;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border:2px solid black;
    position: absolute;
    top: 340px;
    left: 25px;
    background-color: rgb(238, 35, 35);
}
.lines{
    padding: -10 0;
    position: absolute;
    right: 20px;
    bottom: 0px;
    line-height: 7px;
    list-style-type: none;

}
.cameraBorder {
    width:60px;
    height: 60px;
    margin: 10px;
    background-color:#28aafd;
    border-radius: 50px;
    border: 2px black solid;
    position: absolute;
    top: -6px;
    left:-5px;
}
.cameraEdge{
    width:75px;
    height:75px;
    background-color: rgba(222,222,222,255);
    border-radius: 50px;
    position:relative;
    top:5px;
    left: 5px;
    border: 2px solid black;

}
.camera{
    width:50px;
    height: 50px;
    margin: 7px;
    background-color: #196a9e;
    border-radius: 50px;
    position: absolute;
    
    
}

.cameraLens{
    width:35px;
    height:35px;
    margin: 1px;
    background-color: #28aafd;
    border-radius: 50px;
    position: absolute;
    
}
.cameraSheen {
    width:10px;
    height: 10px;
    padding: 5px;
    margin: 3px;
    background-color: #a1dafe;
    border-radius: 50px;
    position: absolute;
    
}
.lights {
    display: flex;
    list-style-type: none;
    position: absolute;
    left: 60px;
}
.light {
    margin: 0 10px;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border:2px solid black;
}
.controlContainer{
    /* display:flex; */
    width: 525px;
    height: 187px;
    position: absolute;
    bottom: 20px;
    left: 33px;
    margin:0 auto;
}
.threeDLeftButton{
    height: 72px;
    width: 72px;
    border-radius: 50px;
    background-color:#000203;
    position: absolute;
    left: 13px;
    top: 29px;
}
.leftButton {
    height: 72px;
    width: 72px;
    border-radius: 50px;
    background-color:#232323;
    position: absolute;
    left: 10px;
    top: 25px;
    border: 2px solid black;
    cursor:pointer;
    font-size: 29px;
    color: grey;
}
.leftButton:active{
    transform: translate3d(3px, 3px, 0px);
    
}

.bottomScreen {
    width: 200px;
    height: 90px;
    background-color: rgba(81,174,95,255);
    border: 3px black solid;
    border-radius: 20px;
    position:absolute;
    left: 130px;
    bottom:24px
}
.bottomButtons{
    display: flex;
    list-style-type: none;
    position: absolute;
    top:5px;
    left: 60px;
    margin-left: 10px;
}
.bottomRight{
    margin: 0 50px;
    height: 6px;
    width: 75px;
    border-radius: 50px;
    border:2px solid black;
    background-color: rgb(76, 35, 238);
}
.bottomLeft{
    margin: 0 10px;
    height: 6px;
    width: 75px;
    border-radius: 50px;
    border:2px solid black;
    background-color: rgb(238, 35, 35);
}
.DPad{
    width:50px;
    height:75px;
    background-color:#232323;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 17px;
    
}
#horizontalLeft {
    position:absolute;
    top: 60px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    right: 35px;
    height: 50px;
    width: 75px;
    rotate: 180deg;
    
    
    
}
#horizontalRight{
    position:absolute;
    top: 60px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    right: -20px;
    height: 50px;
    width: 75px;
    border-left: 0;
    font-size: 29px;
    color: grey;
}
#verticalTop{
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 20% 100%);

}
#verticalBottom{
    clip-path: polygon(20% 0, 80% 0%, 100% 100%, 0 100%);
    position: absolute;
    top: 80px;
}
/* overhang / hinge info */
.overhangContainer {
width:100px;
height:100px;
border: 3px solid black;
border-left:none;
position: absolute;
top:8px;
left: 611px;
background-color: rgba(220,10,45,255);
border-radius: 0px 10px 5px 0px;
}
.hingeContainer{
    border:3px solid black;
    height:630px;
    width:97px;
    position: absolute;
    top: 110px;
    left: 611px;
    background-color:rgba(220,10,45,255) ;
}
.groove{
    border: black 2px solid;
    height: 5px;
    width: 97px;
    border-right:none;
    border-left:none;
}
#top{
    position: relative;
    top: 80px;
}
#bottom{
    position: relative;
    top: 520px;
}
.hingeSheen{
background-color: #e9677c;
height:630px;
width:15px;
position: absolute;
left: 10px;
}
.hingeShade{
    background-color: #89061c;
    height:630px;
    width:32px;
    position: absolute;
    right: 0px;
}
/* Right side of Pokedex Code */
#rightSideContainer{
    position:absolute;
    top: 110px;
    left:711px;
    height: 650px;
    border-radius: 10px;
}
#dexBorderRightSide{
    height: 635px;
    width: 584px;
    position:absolute;
    top:4px;
    left:6px;
    border-radius: 7px;
}

.inputScreen {
    width: 400px;
    height: 150px;
    background-color: #232323;
    border: 3px black solid;
    position: absolute; 
    top: 100px;
    left: 100px;
    border-radius: 3px;
}
.grid3D{
    position: absolute;
    width: 385px;
    height: 100px;
    border: 2px solid black;
    top: 283px;
    right: 99px;
    border-radius: 3px;
    background-color:#135178 ;
    z-index: -2;
}
.gridContainer{
    display:grid;
    grid-template-columns: repeat(5, 68px);
    grid-template-rows: 53px auto 50px; 
    column-gap: 10px;
    row-gap: -50px;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 275px;
    right: 145px;
    
}
.gridItem{
    height: 55px;
    width: 80px;
    /* background-color: black; */
    border: 2px solid black;
    background-color:#28aafd;
}
.gridItem:hover{
    background-color:#158fdb;
}
.gridItem:active{
    transform: translate3d(3px, 3px, 0px);
    z-index: -1;
}
#grid1{
    border-radius: 4px 0 0 0;
}
#grid5{
    border-radius:0 4px 0 0;
}
#grid6{
    border-radius:0 0 0 4px;
}
#grid10{
    border-radius:0 0 4px 0px;
}
.rightBottomContainer{
    display:flex;
    position: relative;
    height: 200px; 
    width: 500px;
    top: 390px;
    left: 50px;
}
#rightThinList{
    width: 200px;
    position: absolute;
    left: 240px;
}
#rightThin {
    margin: 0 2px;
    height: 8px;
    width: 70px;
    border:2px solid black;
    background-color: #232323;
}
#whiteSquares3D{
    position: absolute;
    top: 49px;
    left: 53px;
    background-color:#acacac;
    height:52px;
    width: 157px;
    border-radius: 5px;
    border: 2px solid black;
}
#whiteSquares{
    position: absolute;
    top: 30px;
    left: 0px;
    
}
#whiteSquare1, #whiteSquare2{
    background-color: rgba(222,222,222,255);
    border-radius: 5px 0 0 5px;
    font-size:15px;
}
#whiteSquare2{
    border-radius: 0 5px 5px 0;

}
#whiteSquare1:active, #whiteSquare2:active{
    transform: translate3d(3px, 3px, 0px);
}
#yellowCircle{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-left: 180px;
    position: absolute;
    bottom:0;
    background-color: #ffdf17;
}
#yellowShade{
    border-radius: 50px;
    width: 36px;
    height: 37px;
    margin-left: 4px;
    margin-bottom:1px;
    position: absolute;
    bottom:0;
    background-color: #9f8b0f;
}
#yellowInner{
    border-radius: 50px;
    width: 22px;
    height: 22px;
    margin-left: 4px;
    margin-top:3px;
    position: absolute;
    top: 0;
    background-color: #ffdf17;
}
#yellowSheen{
    border-radius: 50px;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-top:3px;
    position: absolute;
    top: 2px;
    background-color: #fff6c0;
}
.blackRectanges3D{
    background-color:#000000;
    border-radius: 10px;
    width: 178px;
    height: 47px;
    position: absolute;
    top:168px;
    left: 51px;
    border: 2px solid black;
}
#second3Drectangle{
    top:168px;
    left: 276px;
}
#blackRectangle1, #blackRectangle2{
    background-color:#232323;
    border-radius: 10px;
    width: 180px;
    height:50px;
    margin-right:45px;
    position: absolute;
    top:164px;
    left: 48px;
    font-size: 40px;
    color: grey;
    border: 0;
}
#blackRectangle2{
    top:164px;
    left: 274px;
}
#blackRectangle1:active, #blackRectangle2:active{
    transform: translate3d(3px, 3px, 0px);
}